.link{
    width: fit-content;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer !important;
   color: white;
   text-transform: capitalize;
    z-index: 30000000;
}