@import '../../variables';


.sideBar{
    width: 400px;
    position: fixed;
    right: 0;
    top: 0;
    background:$darkColor ;
    height: 100vh;
    z-index: 30;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
    
    font-family: $font-family-CenterText;
}
